<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pop quiz ig?</title>
  </head>
    <body>
      <form method="post" action"/view_post.html">
        <label>
            Title:
              <input type= "text" name= "title" value= "" placeholder= "title here">
        </label> <br/>
        <label>
            Content:
              <input type= "text" name= "content" value= "" placeholder= "content here">
        </label> <br/>
        <label>
            Author:
              <input type= "text" name= "author" value= "" placeholder= "author here">
        </label> <br/>
          <button type="submit">Submit</button>
    </body>
</html>
